<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:label="TelePepper" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher" android:theme="@style/TelePepperStudio" android:allowBackup="false">
        <activity android:name=".ParticipantActivity" android:exported="false" android:screenOrientation="landscape" />
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="landscape" android:theme="@style/TelePepperStudio">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
